@import './_variables.scss';
@import './_theme.scss';
@import './_mixins.scss';

$line-outline: 3px solid mat-color($portfolio-primary, 900);  

%node-before {
    position: relative;

    &::before {
        position: absolute;

        content: '';
        width: 1rem;
        height: 1rem;

        background-color: mat-color($portfolio-primary, 200);
        border: $line-outline;  
        border-radius: 50%;        
    }
}

%node-after {
    position: relative;

    &::after {
        position: absolute;

        content: '';
        width: 1rem;
        height: 1rem;

        background-color: mat-color($portfolio-primary, 200);
        border: $line-outline;  
        border-radius: 50%;        
    }
}
