<div class="container">
  <h1 class="header container__header" ><mat-icon svgIcon="magnify"></mat-icon>There is no page here</h1>
  <h3 class="question container__question">Are you looking for:</h3>
  <div class="btn-cont container__btn-cont">
    <button mat-button class="nav-btn" routerLink="/about">Information About Me</button>
    <button mat-button class="nav-btn" routerLink="/work">Projects I'm Working On</button>
    <button mat-button class="nav-btn" routerLink="/contact">My Contact Information</button>
  </div>
</div>
