<button (click)="toggleView();">Toggle</button>

<div class="slide-panel">
    <div class="left-panel slide-panel__left-panel" [@LeftPanel]="this.leftPanel">
        <app-github-feed></app-github-feed>
        <app-project-container></app-project-container>
    </div>

    <div class="right-panel slide-panel__right-panel" [@RightPanel]="this.rightPanel" >
        <div *ngIf="selectedProject" class="panel-content">
            <h1 class="name panel-content__name">{{selectedProject.Name}}</h1>

            <div class="text-cont panel-content__text-cont">
                <mat-card class="goal text-cont__goal">
                    <mat-card-header><h2>Goal</h2></mat-card-header>
                    <mat-card-content>{{  selectedProject.Details.Goal }}</mat-card-content>
                </mat-card>
                <mat-card class="process text-cont__process">
                    <mat-card-header><h2>Process</h2></mat-card-header>
                    <mat-card-content>{{ selectedProject.Details.Process }}</mat-card-content>                    
                </mat-card>
                <mat-card class="final text-cont__final">
                    <mat-card-header><h2>Final Product</h2></mat-card-header>
                    <mat-card-content>{{ selectedProject.Details.Final }}</mat-card-content>
                </mat-card>
                <mat-card *ngIf="selectedProject.Details.Outcome" class="outcome text-cont__outcome">
                    <mat-card-header><h2>Outcome</h2></mat-card-header>
                    <mat-card-content>{{ selectedProject.Details.Outcome }}</mat-card-content>
                </mat-card>
                <mat-card *ngIf="selectedProject.Details.Notes" class="notes text-cont__notes">
                    <mat-card-header><h2>Notes</h2></mat-card-header>
                    <mat-card-content>{{ selectedProject.Details.Notes }}</mat-card-content>
                </mat-card>
            </div>
            <div class="extra-cont panel-content__extra-cont">
                <mat-card class="links extra-cont__links">Project Links</mat-card>
                <mat-card class="skills extra-cont__skills">Skills</mat-card>
                <mat-card class="images extra-cont__images">Images</mat-card>
            </div>
        </div>
    </div>
</div>