:host {
    max-width: 975px;
    margin: 2rem auto 0 auto;

    overflow: hidden;
}

.slide-panel {
    height: 100%;
    width: 200%;

    overflow: hidden;

    display: flex;

    &__left-panel, &__right-panel {
        flex: 1;
    }
}

.panel-content {
    width: 100%;

    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 2rem 1fr;

    &__name {
        grid-column: 1/3;
        grid-row: 1;
    }

    &__text-cont {
        grid-column: 1;
        grid-row: 2;
    }

    &__extra-cont {
        grid-column: 2;
        grid-row: 2;
    }
}