

<div class="slide-panel">
    <div class="left-panel slide-panel__left-panel" [@LeftPanel]="this.leftPanel">
        <app-github-feed></app-github-feed>
        <app-project-container></app-project-container>
    </div>

    <div class="right-panel slide-panel__right-panel" [@RightPanel]="this.rightPanel" >
        <button
        class="back right-panel__back"
        mat-button routerLink="/work">
            <mat-icon svgIcon="arrow-left-thick"></mat-icon>
            Back
        </button>
        <app-project-details 
            class="panel-content right-panel__panel-content" 
            *ngIf="selectedProject"
            [selectedProject]="selectedProject" ></app-project-details>
    </div>
</div>