<div class="welcome about-frame__welcome">
  <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/37539463_10212355083413098_5290058652378464256_n.jpg?_nc_cat=0&oh=bb8adb5c95d377159c0f85f0bc2844f0&oe=5BD51CD2" alt="" class="wel-img welcome__wel-img content">
  <div class="text-overlay welcome__text-overlay content">
    <h1 class="name text-overlay__name">Hi, I'm Thomas!</h1>
    <h3 class="blerb text-overlay__blerb">I am a web developer from La Crosse, WI. <br>I have a passion for
        problem solving, good coffee, and creating clean, functional code. </h3>
  </div>
</div>
<div class="about about-frame__about">
  <div class="intro about__intro">
    <h2 class="header intro__header">About Me</h2>
    <p class="text intro__text">I am life long learner and self-taught web developer. I have learned from my customer
      service experience that not everyone is into technology, however technology plays an
      integral role in everyone’s life. I have a passion for learning about and leveraging
      technology to develop solutions for all users.</p>
  </div>
  <div class="current about__current">
    <p class="paragraph current__paragraph-1">I enjoy working on full stack web development, data
    collection and analysis, as well as artificial intelligence
    projects at this time.</p>
    <p class="paragraph current__paragraph-2">Currently I am focusing my attention on improving my
    front end development skills leveraging Angular 5 and
    Typescript.</p>
    <p class="paragraph current__paragraph-3">In my free time I am also working to develop hardware
    solutions to further enhance my other hobbies. I using
    microcontrollers such as the Arduino Uno and
    Expressif ESP32 to design and build hardware
    systems.</p>
  </div>
  <div class="skills about__skills">
    <h4 class="skill-header skills__skill-header">Technical Skills*</h4>
    <div class="graph skills__graph">
      <div class="data graph__data">
        <div class="bar bar-comfort data__bar-html">
          <p>HTML5</p>
        </div>
        <div class="bar bar-comfort data__bar-css">
          <p>CSS3</p>
        </div>
        <div class="bar bar-proficent data__bar-js">
          <p>Javascript</p>
        </div>
        <div class="bar bar-proficent data__bar-ts">
          <p>Typescript</p>
        </div>
        <div class="bar bar-proficent data__bar-node">
          <p>Node.js</p>
        </div>
        <div class="bar bar-proficent data__bar-ng">
          <p>Angular 5</p>
        </div>
        <div class="bar bar-comfort data__bar-redis">
          <p>Redis DB</p>
        </div>
        <div class="bar bar-proficent data__bar-fb">
          <p>Firebase</p>
        </div>
      </div>
      <div class="legend graph__legend">
        <div class="rookie legend__rookie ">Rookie</div>
        <div class="novice legend__novice">Novice</div>
        <div class="comfort legend__comfort">Comfortable</div>
        <div class="proficent legend__proficent">Proficent</div>
        <div class="expert legend__expert">Expert</div>
      </div>
    </div>
  </div>
  <div class="glance about__glance">
    <h3 class="glance-header glance__glance-header" >My Life At A Glance</h3>
    <div class="work glance__work">
      <h4 class="header">Web Development</h4>
      <p>HTML5/CSS3/Javascript/Typescript</p>
      <h4 class="header">Design</h4>
      <p>Problem Solving/Planning</p>
      <h4 class="header">Interacting</h4>
      <p>Teamwork/Leadership/Customer Facing</p>
      <h4 class="header">Front End Frameworks</h4>
      <p>Angular 2+/Material Design</p>
      <h4 class="header">Databases</h4>
      <p>Redis/SQL/NoSQL/Firebase</p>
    </div>
    <div class="image-cont glance__image-cont">
      <img class="image" src="https://firebasestorage.googleapis.com/v0/b/op-7f877.appspot.com/o/Tree%20Image.png?alt=media&token=8317b19a-3f16-422b-a1c3-b938ab6cbdb8" alt="">
    </div>
    <div class="play glance__play">
      <h4 class="header">Nature</h4>
      <p>Camping/Hiking/Kayaking/Golf</p>
      <h4 class="header">Building</h4>
      <p>Carpentry/Model Railroading/Homebrewing</p>
      <h4 class="header">Coding</h4>
      <p>Arduino/C#/Typescript/Angular5</p>
      <h4 class="header">Socializing</h4>
      <p>Friends/Family/Family Vineyard</p>
      <h4 class="header">Theater</h4>
      <p>Sound Design/Set Design/Light Design</p>
    </div>
  </div>
  <div class="nav about__nav">
    <div class="selected-works nav__selected-works">What to see what I am up to? Check out my: 
      <button class="btn-works selected-works__btn-works" routerLink="/work" mat-button>Selected Works</button>
    </div>
    <div class="contact nav__contact">Think I can help you with a project: 
      <button mat-button class="btn-contact contact__btn-contact" routerLink="/contact">Contact Me</button></div>
  </div>
</div>


<app-treemotif></app-treemotif>