@import '../../styles/base.scss';

.about-frame {

    display: flex;
    flex-direction: column;

    &__welcome {
        min-height: 400px;
    }

    &__about {
        margin: 2rem auto 3rem auto;

        @include media(900px) {
            margin: 2rem 2rem;
        }
    }

    &>* {
        margin-bottom: 1.25rem;
    }

}

.welcome {
    @include aspect-ratio(16, 9); // aka silver ratio

    &__wel-img {
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__text-overlay {
        display: grid;
        grid-template-rows: 20vw 5rem 22% 20%;

        @include media($breakpoint-phone) {
            grid-template-rows: 33vw 5rem 22% 20%;
        }
    }
}

.text-overlay {
    background-color: rgba(0,0,0,0.5);

    &__name { grid-row: 2; }
    &__blerb { 
        grid-row: 4; 
        width: 85%;
        margin: 0 auto;
    } 
}

.name {
    color: #fff;

    text-align: center;
    font-size: 7vw;

    @include media($breakpoint-phone) {
        font-size: 3rem;
    }
}

.blerb {
    text-align: center;
    color: #fff;

    font-size: 2.25vw;
    line-height: 2.75vw;

    @include media($breakpoint-phone) {
        line-height: normal;
        font-size: 1rem;
    }
}

.about {

    max-width: 900px;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, auto 1.25rem);

    @include between(750px, 970px){
        grid-template-columns: 1fr 450px; 
    }

    @include media(750px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__intro {
        grid-area: 1 / 1 / 1 / 3;
    }

    &__current {
        grid-area: 3 / 1;
    }

    &__skills {
        grid-area: 3 / 2;

        @include media(970px) {
            height: 14rem;
        }
    }

    &__glance {
        grid-area: 5 / 1 / 5 / 3;
    }

    &__nav {
        grid-area: 7 / 1 / 7 / 3;
    }
    

}

.intro {
    // ## - Delete if changes submitted
    margin-bottom: 1rem;

    & .header, .text {
        color: mat-color($portfolio-accent);
    }

    & .header {

        margin-bottom: 0.75rem;
        padding-left: 2rem;

        @extend %node-before;
        @extend %node-after;

        border-bottom: 3px solid mat-color($portfolio-accent);

        &::before {
            height: 0.75rem;
            width: 0.75rem;
            bottom: -0.59rem;
            left: 0;
            border-color: mat-color($portfolio-accent);
        }

        &::after {
            height: 0.75rem;
            width: 0.75rem;
            bottom: -0.59rem;
            right: 0;
            border-color: mat-color($portfolio-accent);
        }
    }

    & .text {
        font-size: 1.2rem;
    }
}

.current {
    &__paragraph-2 {
        margin: 1rem 0;
    }    

}

.paragraph {
    color: mat-color($portfolio-primary, 900);

    @extend %node-before;
    &::before {
        content: none;
    }


    @include media(750px){
        margin-left: 2rem;
        &::before {
            content: '';
            height: 0.5rem;
            width: 0.5rem;

            left: -1.5rem;
        }
    }
}

.skills {
    width: 100%;
    margin-left: 1rem;
    display: grid;
    grid-template-rows: 1rem 1fr;

    &__skill-header {
        grid-row: 1;
    }

    &__graph {
        grid: 2;
    }

    @include media(750px) {
        margin-top: 1rem;
    }

    @include between($breakpoint-phone, 750px) {
        width: 450px;
    }

    @include media(450px) {
        width: 95%;
    }
}

.skill-header {
    margin-left: 3rem;

    position: relative;

    color: mat-color($portfolio-primary, 900);

    &::after {
        content: '*not an exhaustive list';
        font-size: 0.7rem;
        position: absolute;
        top: 1rem;
        right: 1rem;

        color: mat-color($portfolio-accent);


    }
}

.graph {
    height: calc(100% - 0.5rem);
    width:100%;
    margin-top: 0.5rem;
    position: relative;
    


    & div {
        position: absolute;
        height: 100%;
    }

    &__data {
        z-index: 10;
        left: 20%;
        width: 80%;
    }

    &__legend {
        z-index: 5;
        width: 100%;
    }
}

.legend {
    display: grid;
    grid-template-rows: repeat(7, calc(93%/5) 1% );

    & div {
        margin-top: auto;
        font-size: 0.75rem;

        width: 100%;

        color: mat-color($portfolio-primary, 900);

        @include media($breakpoint-phone) {
            font-size: 0.6rem;
        }

        &::after {
            content: '';
            width: 100%;
            opacity: 0.85;
            border-top: 1px dashed mat-color($portfolio-primary, 900);

            position: absolute;
            top: 1rem;
            left: 0;

            @include media($breakpoint-phone) {
                top: 0.75rem;
            }
        }

    }

    &__expert {
        grid-row: 1;
    }

    &__proficent {
        grid-row: 3;
    }

    &__comfort {
        grid-row: 5;
    }

    &__novice {
        grid-row: 7;
    }

    &__rookie {
        grid-row: 9;
    }
}

.data {
    display: grid;
    grid-template-columns: 1rem repeat(8, 2rem 0.33rem);
    grid-template-rows: 10% repeat(4, 19.5%) 12%;

    border-left: 2px solid mat-color($portfolio-primary, 900);
    border-bottom: 2px solid mat-color($portfolio-primary, 900);

    @include media(450px) {
        grid-template-columns: 1rem repeat(8, 1.25rem 0.33rem); 
    }

    &__bar-html { grid-column: 2; }

    &__bar-css { grid-column: 4; } 

    &__bar-js { grid-column: 6; }

    &__bar-ts { grid-column: 8; }

    &__bar-node { grid-column: 10; }

    &__bar-ng { grid-column: 12; }

    &__bar-redis { grid-column: 14; }

    &__bar-fb { grid-column: 16; }
}

.bar {
    background-color: mat-color($portfolio-accent);
    color: #fff;
    opacity: 0.85;

    width: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    @include media(450px) {
        width: 1.25rem;
    }
    
    & p {
        transform: rotate(-90deg);
        white-space: nowrap;

        font-size: 0.85rem;
    }

    &-rookie {
        grid-row: 6;
    }

    &-novice {
        grid-row: 5/7;
    }

    &-comfort {
        grid-row: 4/7;
    }

    &-proficent {
        grid-row: 3/7;
    }

    &-expert {
        grid-row: 2/7;
    }
}

.glance {

    margin: 1rem 0;

    display: grid;
    grid-template-rows: 2rem 1fr;
    grid-template-columns: 35% 30% 35%;

    @include media($breakpoint-phone) {
        grid-template-columns: 45% 10% 45%;
    }

    &__glance-header {
        grid-area: 1 / 1 / 1 / 4;
    }

    &__work {
        grid-column: 1;
        grid-row: 2;
    
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    
        @include media($breakpoint-phone) {
            position: relative;
            z-index: 10;
        }
    }

    &__image-cont {
        grid-column: 2;
        grid-row: 2;

        width: 100%;

        @include media($breakpoint-phone) {
            grid-column: unset;
            opacity: 0.2;
            height: 43vw;
            margin-left: -173%;

        }
    }

    &__play {
        grid-column: 3;
        grid-row: 2;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
        @include media($breakpoint-phone) {
            position: relative;
            z-index: 10;
        }
    }

    & * h4 {
        @include media(900px) {
            font-size: 1.8vw;
        }

        @include media($breakpoint-phone) {
            font-size: 2.9vw;
        }
    }

    & * p {
        @include media(900px) {
            font-size: 1.3vw;
        }

        @include media($breakpoint-phone) {
            font-size: 2.1vw;
        }
    }
}

.glance-header {
    margin-left: 6%;
    color: mat-color($portfolio-primary, 900);
}

.work {

    & h4 {
        color: mat-color($portfolio-primary, 900);
    } 

    & p {
        font-size: 0.84rem;
        margin-bottom: 0.8rem;
    }
}

.image {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: calc((255/260)*100%);

    @include media($breakpoint-phone) {
        width: auto;
        margin-left: 1rem;

    }
}

.play {
    & h4 {
        color: mat-color($portfolio-accent, 900);
    }

    & p {
        font-size: 0.8rem;
        margin-bottom: 0.8rem;
    }
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-works,
.contact {
    font-weight: bold;
    color: mat-color($portfolio-primary, 900);

    @include media($breakpoint-phone) {
        font-size: 2.75vw;
    }
}

.btn-works,
.btn-contact {
    color: #fff;
    background-color: mat-color($portfolio-accent);

    @include media($breakpoint-phone) {
        font-size: 2.5vw;
    }
}

.selected-works {
    margin-bottom: 0.5rem;
}