<mat-toolbar 
  class="toolbar body__toolbar" 
  (window:scroll)="onScroll()"
  [ngClass]="{ 'toolbar--at-top': scrollTop }">
  <h1 class="name toolbar__name" >Thomas Kottke</h1>
  <div class="buttons toolbar__buttons">
    <button mat-button class="about buttons__about" routerLink="/about" (click)="setLockToolbar(false)" routerLinkActive="active">About</button>
    <button mat-button class="work buttons__work" routerLink="/work" (click)="setLockToolbar(true)" routerLinkActive="active">Work</button>
    <button mat-button class="contact buttons__contact" routerLink="/contact" (click)="setLockToolbar(true)" routerLinkActive="active">Contact</button>
    <mat-menu #appMenu="matMenu">
      <button mat-button 
              class="about menu__about" 
              routerLink="/about" 
              (click)="setLockToolbar(false)"
              routerLinkActive="active">About</button>
      <button mat-button 
              class="work menu__work" 
              routerLink="/work" 
              (click)="setLockToolbar(true)"
              routerLinkActive="active">Work</button>
      <button mat-button 
              class="contact menu__contact" 
              routerLink="/contact"
              (click)="setLockToolbar(true)"
              routerLinkActive="active">Contact</button>
    </mat-menu>

    <button mat-button class="menu buttons__menu" [matMenuTriggerFor]="appMenu"><mat-icon svgIcon="menu"></mat-icon></button>
  </div>
</mat-toolbar>

<div class="content body__content">
  <router-outlet></router-outlet>
</div>

<footer class="footer body__footer">
  <div class="img-cont footer__img-cont">
      <img src="https://firebasestorage.googleapis.com/v0/b/op-7f877.appspot.com/o/Tree%20Image.png?alt=media&token=8317b19a-3f16-422b-a1c3-b938ab6cbdb8">
  </div>
  <div class="footer-content footer__footer-content">
    <div class="contact footer-content__contact">
      t.kottke90@gmail.com
    </div>
    <div class="links footer-content__links">
      <a href="https://www.linkedin.com/in/thomas-kottke-53127a86/" target="_blank"><mat-icon svgIcon="linkedin-box"></mat-icon></a>
      <a href="https://github.com/tkottke90" target="_blank"><mat-icon svgIcon="github-box"></mat-icon></a>
    </div>
    <div class="copyright footer-content__copyright">
      Copyright &copy; Thomas Kottke 2018
    </div>
  </div>
</footer>

<app-overlay-view class="overlay" *ngIf="this.overlay" ></app-overlay-view>

