@import './styles/base.scss';

// $line-outline: 3px solid mat-color($portfolio-primary, 900);    

body {
    position: relative;
    z-index: 1;
}

.toolbar,
.content {
    position: relative;
    z-index: 1;
}


.work-view {
    max-width: 975px;
    margin: 2rem auto 0 auto;
    overflow: hidden;
    
}
