<mat-toolbar 
  class="toolbar body__toolbar" 
  (window:scroll)="onScroll()"
  [ngClass]="{ 'toolbar--at-top': scrollTop }">
  <h1>Thomas Kottke</h1>

  <button mat-button class="work toolbar__work">Work</button>
  <button mat-button class="contact toolbar__contact">Contact</button>
  <button mat-button class="menu toolbar__menu"><mat-icon svgIcon="menu"></mat-icon></button>
</mat-toolbar>

<div class="content body__content">
  <app-about-view></app-about-view>
  
  <div *ngIf="false" class="work-view">
    <app-work-view></app-work-view>
  </div>
</div>

<footer class="footer body__footer">
  <div class="img-cont footer__img-cont">
      <img src="https://firebasestorage.googleapis.com/v0/b/op-7f877.appspot.com/o/Tree%20Image.png?alt=media&token=8317b19a-3f16-422b-a1c3-b938ab6cbdb8">
  </div>
  <div class="footer-content footer__footer-content">
    <div class="contact footer-content__contact">
      t.kottke90@gmail.com
    </div>
    <div class="links footer-content__links">
      <a href="https://www.linkedin.com/in/thomas-kottke-53127a86/" target="_blank"><mat-icon svgIcon="linkedin-box"></mat-icon></a>
      <a href="https://github.com/tkottke90" target="_blank"><mat-icon svgIcon="github-box"></mat-icon></a>
    </div>
    <div class="copyright footer-content__copyright">
      Copyright <mat-icon svgIcon="copyright"></mat-icon> Thomas Kottke 2018
    </div>
  </div>
</footer>

<app-overlay-view class="overlay" *ngIf="this.overlay" ></app-overlay-view>

