@import './styles/base.scss';

// $line-outline: 3px solid mat-color($portfolio-primary, 900);    

:host {
    overflow: hidden;
}

.content {
    display: flex;
    //align-items: center;
    flex-direction: column;

    max-width: 975px;
    margin: 1rem auto 0 auto;
    //padding: 0 1rem 0 1rem;

}

