@import '../../styles/base.scss';


.contact {
    min-height: 82vh;
    padding-top: 5rem;    

    background-color: mat-color($portfolio-primary, 900);

    display: grid;
    
    grid-template-columns: 1rem calc(50% - 1rem) 50%;
    grid-template-rows: 1rem 4rem 1fr;

    &__contact-me {
        grid-area: 2 / 2 / 2 / 4 ;
    }

    &__img-cont {
        grid-area: 3 / 2;
        width: 100%;
        height: 100%;
    }

    &__form {
        grid-area: 3 / 3;

        display: flex;
        justify-content: center;
        align-items: center;

        @include media(960px) {
            align-items: flex-end;
        }
    }

    @include media(960px) {

        padding-top: 2rem;

        grid-template-columns: 1rem calc(100% - 2rem) 1rem;
        grid-template-rows: 1rem 4rem calc(28rem + 100px);

        &__contact-me {
            grid-area: 2 / 2;
        }

        &__img-cont {
            grid-area: 3 / 2;
            height: 100px;
            width: 100px;
            margin: 2rem auto;
        }

        &__form {
            grid-area: 3 / 2;
        }

    }
}

.contact-me {
    width: 80%;

    padding-top: 1rem;
    padding-left: 3rem;
    color: #fff;

    @extend %node-before;
    @extend %node-after;

    border-bottom: 3px solid #fff;

    &::before {
        bottom: -0.75rem;
        left: 0;
        border-color: #fff;
        background-color: mat-color($portfolio-primary, 900);
    }

    &::after {
        bottom: -0.75rem;
        right: 0;
        border-color: #fff;
        background-color: mat-color($portfolio-primary, 900);
    }

    @include media(960px) {
        margin: 0 auto;
        padding-left: 0;
        text-align: center;
    }
}

.img-cont {
    display: flex;
    justify-content: center;
    align-items: center;

    &__img-block {
        height: 0;
        width: 500px;
        padding-top: 500px;
    }
}

.img-block  {
    overflow: hidden;

    border-radius: 50%;

    border: 3px solid #fff;
    position: relative;

    & img {
        transform: translate(-20%, -65%) scale(0.75);

        @include media(960px) {
            transform: translate(-45%, -53%) scale(0.15);
        }
    }

    @include media(960px) {
        width: 100%;
        padding-top: 100%;
    }
}

form {
    width: 75%;
}

.custom-form-group {
    display: grid;
    grid-template-rows: 1.5rem 1fr 1.5rem;
    position: relative;

    & .custom-form-label {
        grid-row: 1;
    }
    & .custom-form-field {
        grid-row: 2;
        z-index: 10;
        margin: 0.25rem 0;
    }

    & .custom-form-error {
        grid-row: 3; position: absolute;
        z-index: 1;
    }
}

.custom-form-label {
    color: #fff;
    position: relative;

    &.lbl-required::after {
        content: "*required";
        position: absolute;
        top: 0.5rem;
        right: 0;
        font-size: 0.75rem;

        color: mat-color($portfolio-accent,300);
    }
}

.custom-form-field {
    background-color: #fff;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;

    position: relative;

    & textarea  {
        height: 5rem;
    }

    & input {
        height: 1rem;
        margin: 0.25rem 0;
    }

    & textarea, input {
        width: 90%;    
        border: none;
    }
    
}

.custom-form-error {
    font-size: 0.75rem;
}

.alert {
    color: red
}

mat-icon {
    color: rgba(0,0,0,0.75);
}

.custom-form-actions {
    display: flex;
    justify-content: flex-end;
}

.submit-btn {
    border: 2px solid #fff;
    color: #fff;

    transition: 500ms;

    &:disabled {
        border: 2px solid transparent;
        color: darkgray;
    }

    

}

// Vaidation Styles



.mat-input-element.ng-touched {
    &.ng-valid[required] {
        border-left: 3px solid #42A948; /* green */
    }

    &.ng-invalid:not(form) {
        border-left: 3px solid red;
    }
}