@import '../../styles/base.scss';


.contact {
    min-height: 80vh;
    padding-top: 5rem;    

    background-color: mat-color($portfolio-primary, 900);

    display: grid;
    
    grid-template-columns: 1rem calc(50% - 1rem) 50%;
    grid-template-rows: 1rem 4rem 1fr;

    &__contact-me {
        grid-area: 2 / 2 / 2 / 4 ;
    }

    &__form {
        grid-area: 3 / 3;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contact-me {
    width: 80%;

    padding-top: 1rem;
    padding-left: 3rem;
    color: #fff;

    @extend %node-before;
    @extend %node-after;

    border-bottom: 3px solid #fff;

    &::before {
        bottom: -0.75rem;
        left: 0;
        border-color: #fff;
        background-color: mat-color($portfolio-primary, 900);
    }

    &::after {
        bottom: -0.75rem;
        right: 0;
        border-color: #fff;
        background-color: mat-color($portfolio-primary, 900);
    }
}

.form-group {
    display: grid;
    grid-template-rows: 1rem 1fr;

    & label {
        grid-row: 1;
    }

    & mat-form-field {
        grid-row: 2;
    }
}

.mat-form-field-flex {
    background-color: white;
}

input.form-control {
    padding-left: 0.25rem;

    div div & {
        background-color: #fff;
    }
}

mat-icon {
    color: rgba(0,0,0,0.75);
}



// Vaidation Styles



.mat-input-element.ng-dirty {
    &.ng-valid[required] {
        border-left: 3px solid #42A948; /* green */
    }

    &.ng-invalid:not(form) {
        border-left: 3px solid mat-color($portfolio-warn, 900);
    }
}